@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500;700&family=Roboto:wght@400;500;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: indigo;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:active {
  background-color: #4b0082d7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

:target.inactive:before {
  display: none;
}